.about-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.about-collapses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}


.section-head{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-inline: 1rem;
  height: 20%;
}

.myImg{
  border: 2px solid black;
}

.about-wrapper{
  height: 80%;
  width: 100%;
}

.about-text{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;  
}

.about-column{
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left , .right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.7rem;
}
.descriptions{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 73%;
  font-size: 1.7rem;
}

.about-info{
  width: 100%;
  height: 75%;
}
.resume-dl-btn{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.downloadResume{
  padding: 0.8rem 2rem; 
  border-radius: 2rem;
  font-size: 1.2rem; 
  background-color: rgb(64, 233, 64);
  color: white;
  border: none;
  cursor: pointer;
}

.downloadResume > a{
  text-decoration: none;
  color: white;
}
