.about-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}

.about-collapses{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.myImg{
  border: 2px solid black;
}

.about-wrapper{
  height: 80%;
  width: 100%;
}

.about-text{
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;  
}

.about-column{
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left , .right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.7rem;
}
.descriptions{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 73%;
  font-size: 1.7rem;
}

.about-info{
  width: 100%;
  height: 75%;
}
.resume-dl-btn{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 15%;
}

.downloadResume{
  padding: 0.8rem 2rem; 
  border-radius: 2rem;
  font-size: 1.2rem; 
  background-color: rgb(64, 233, 64);
  color: white;
  border: none;
  cursor: pointer;
}

.downloadResume > a{
  text-decoration: none;
  color: white;
}


@media screen and (max-width: 426px){

  .about-container{
  height: 88vh;
  }
  
 .myImg{
  height: 70px;
 }

 .left, .right, .descriptions{
  font-size: 1rem ;
  height: 80%;
 }

 .downloadResume{
  font-size: 1rem;
  padding: 0.5rem 1rem;
 }

}


@media screen and (max-width: 325px) {
 .myImg{
  height: 80px;
 }

  .left, .right, .descriptions{
  font-size: 0.8rem ;
  height: 75%;
 }

 .downloadResume{
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
 }
}