.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.contact-collapses{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
}


.contact-wrapper{
  height: 80%;
  width: 100%;
}

.contact-details{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.col-1{
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .col-2{
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-col-1,.card-col-2{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20px;
  padding: 1rem;
  border: 0.5rem solid black;
}


.contact-name{
  color: orange;
  font-size: 2rem;
}

.contact-info{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 426px){
.contact-container{
  height: 90vh;
 }
 .col-1{
  flex-direction: column;
  width: 100%;
  height: 75%;
 }

 .col-2{
  height: 25%;
  width: 100%;
 }

 .card-col-1{
  width: 50%;
  height: 33%;
  row-gap: 0.5rem;
  text-align: center;
 }

 .card-col-1 > img{
  height: 30px;
 }

 .contact-name{
  font-size: 1.5rem;
 }

 .contact-info{
  font-size: 0.8rem;
 }
 .card-col-2{
  width: 50%;
  height: 90%;
  row-gap: 0.5rem;
  text-align: center;
 }

 
 .contact-msg, .contact-msg-2{
  text-align: center;
 }

}

@media screen and (max-width: 376px) {
 
 .contact-info{
  font-size: 0.7rem;
 }

  .contact-msg-2{
  font-size: 1.2rem;
 }
}

@media screen and (max-width: 325px) {

.contact-container{
  height: 88vh;
}

.contact-details{
  height: 85%;
  justify-content: space-around;
}

.col-1{
  justify-content: space-around;
}
 .card-col-1 > img{
  height: 30px;
 }

 .contact-name{
  font-size: 1rem;
 }

 .contact-info{
  font-size: 0.6rem;
 }
 .card-col-1{
  height: 30%;
  padding: 0.5rem;
 }
 
 .card-col-2{
  height: 75%;
  row-gap: 0.5rem;
  padding: 0.5rem;
 }
 
 .contact-msg{
  font-size: 1.5rem;
 }

 .contact-msg-2{
  font-size: 1rem;
 }
}