.container, .about-container,.skills-container, .contact-container, .project-container{
  padding: 1rem;
  width: 82.2%;
  margin-left: 17.1rem;
  transition: all 0.3s ease;
}

.collapses, .about-collapses ,.skills-collapses, .contact-collapses, .project-collapses{
  padding: 1rem;
  width: 94.9%;
  margin-left: 4.9rem;
  transition: all 0.3s ease;
}

.section-head{
  width: 100%;
  padding: 0.5rem;
}

.title{
  font-size: 4rem;
  border: 0.5rem solid black;
  width: 25%;
  border-radius: 25px;
  text-align: center;
}