.container, .about-container,.skills-container, .contact-container, .project-container{
  padding: 1rem;
  width: 82%;
  margin-left: 17.1rem;
  transition: all 0.3s ease;
}

.collapses, .about-collapses ,.skills-collapses, .contact-collapses, .project-collapses{
  padding: 1rem;
  width: 94.9%;
  margin-left: 4.9rem;
  transition: all 0.3s ease;
}

.section-head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  height: 20%;
}

.title{
  font-size: 4rem;
  border: 0.5rem solid black;
  width: 25%;
  border-radius: 25px;
  text-align: center;
}


@media screen and (max-width: 426px) {
.container, .about-container,.skills-container, .contact-container, .project-container{
    padding: 0.5rem;
    width: 100%;
    margin-left: 0;
}

.collapses, .about-collapses ,.skills-collapses, .contact-collapses, .project-collapses{
  padding: 0.5rem;
  width: 100%;
  margin-left: 0;
}

.section-head{
  height: 15%;
  padding-inline: 0.5rem;
}

.title{
  font-size: 2rem;
  padding: 0.5rem;
  width: 40%;
  border: 0.3rem solid black;
}
}

@media screen and (max-width: 376px) {
 .title{
  font-size: 1.7rem;
  padding: 0.5rem;
  width: 40%;
  border: 0.3rem solid black;
}
}

@media screen and (max-width: 325px) {
.title{
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 40%;
  border: 0.3rem solid black;
}
}




@media screen and (max-width: 325px) {
 .section-head{
  height: 10%;
  padding-inline: 0.5rem;
 }
}