.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.collapses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.home-info, .home-img{
  display:flex;
  height: 100%;
}

.home-img{
  align-items: center;
  justify-content: center;
  width: 45%; 
}

.home-info{
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.text{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60%;
  width: 100%;
  font-weight: bold;
}

.myName, .home-typing{
  color: green;
  height: 10%;
  font-size: 2.5rem;
  font-family: "Fjalla One", sans-serif;
} 

.home-name{
  font-size: 2.5rem;
}

.home-name.dark{
  color: white;
}



.home-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  line-height: 3rem;
  text-align: justify;
  text-indent: 1rem;
  font-size: 1.5rem;
}

.home-btn{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 1rem;
  flex-direction: column;
  height: 15%;
  font-weight: bold;
}

.my-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  border-radius: 1rem;
  background-color: white;
  border-top: 1.5rem solid black;
  border-bottom: 2rem solid black;
  border-left: 0.2rem solid black;
  border-right: 0.2rem solid black;
  transition: all 0.3s ease;
}

.about-btn{
  background-color: rgb(65, 235, 31);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}

@media screen and (max-width: 769px){

  .myName, .home-typing, .home-name{
    font-size: 1.3rem;
  }

  .home-desc{
    font-size: 1rem;
  }

  .my-img{
    width: 100%;
    height: 60%;
  }

  .my-img > img{
    height: 22rem;
  }

}

@media screen and (max-width: 426px){
  .container{
    overflow: auto;
    height: 88vh !important;
  }

  .home-info{
    width: 100%;
    height: 50%;
  }

  .collapses{
    flex-direction: column;
    overflow: auto;
  }

  .myName, .home-typing, .home-name{
    font-size: 1.5rem;
  } 

  .home-desc{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .text{
    height:100%;
  }

  .home-btn{
    display: none;
  }

.home-img{
  width: 100%;
}

  .my-img{
    width: 50%;
    height: 70%;
  }

  .my-img > img{
    height: 250px;
  }
}

@media screen and (max-width: 376px) {

   .my-img > img{
    height: 220px;
  }

    .my-img{
    height: 65%;
  }
}

@media screen and (max-width: 325px) {

   .my-img > img{
    height: 190px;
  }

    .my-img{
    height: 60%;
  }
}