.project-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.project-collapses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.section-head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 1rem;
  height: 20%;
}

.project-wrapper{
  height: 80%;
  width: 100%;
}