.project-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.project-collapses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.project-wrapper{
  border: 0.3rem solid black;
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  overflow-y: auto;
  gap: 3rem 1rem;
  padding: 1rem;
  grid-template-columns: repeat(3, 32.4%);
}

.project{
  border: 0.1rem solid black;
  height: 18rem;
  width: 100%;
}

.proj-img{
  height: 100%;
  width: 100%;
}

.proj-name{
  font-size: 1.2rem;

}

@media screen and (max-width: 426px){
  .project{
    height: 100%;
  }

  .proj-name{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 376px) {
 
}

@media screen and (max-width: 325px) {
.project-wrapper{
  gap: 0.3rem;
  padding: 0.5rem;
}

  .project{
    height: 70%;
  }
}