.project-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.project-collapses{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
}

.project-wrapper{
  border: 0.3rem solid black;
  height: 80%;
  width: 100%;
  display: grid;
  overflow-y: auto;
  gap: 1rem 0.5rem;
  padding: 0.5rem;
  grid-template-columns: repeat(4, 24.5%);
}

.project{
  width: 100%;
}

.proj-img{
  border: 1px solid black;
  height: 18rem;
  width: 100%;
}

.proj-name{
  font-size: 1.2rem;

}

@media screen and (max-width: 769px){
   .project-wrapper{
    padding: 0.3rem;
    gap: 1rem 0.2rem;
  }
  .project{
    height: 100%;
    width: 100%;
  }

  .proj-name{
    font-size: 1rem;
  }

  .proj-img{
    height: 9rem;
  }
}

@media screen and (max-width: 426px){

  .project-container{
   height: 85vh;
  }

  .project-wrapper{
    padding: 0.3rem;
    gap: 0.5rem 0.2rem;
  }
  .project{
    height: 100%;
    width: 100%;
  }

  .proj-name{
    font-size: 0.8rem;
  }

  .proj-img{
    height: 8rem;
  }
}

@media screen and (max-width: 325px) {


  .project-wrapper{
    gap: 0.3rem;
    padding: 0.5rem;
  }
 .proj-img{
    height: 5rem;
  }

  .project{
    height: 70%;
  }
}