
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=UnifrakturCook:wght@700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark{
  background-color: #363131;
}
